.food-data-content-table {
  border-collapse: collapse;
}

.food-data-content-table th,
.food-data-content-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 12px 20px;
  font-size: 16px;
}

.food-data-content-table th {
  background-color: #04aa6d;
  color: white;
}

.food-data-content-table .totals-row,
.food-data-content-table th {
  font-weight: bold;
  color: white;
}

.page-numbers {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-numbers li {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin: 0 5px;
}

.page-numbers li.active {
  font-weight: bold;
  border: 2px solid #000;
}

.food-data-row:hover {
  background-color: #565353;
  cursor: pointer;
}

/* Styles for the search bar */
.search-bar {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar:focus {
  outline: none;
  border-color: #04aa6d;
  box-shadow: 0 0 5px rgba(4, 170, 109, 0.5);
}
