.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for forms, items, and buttons */
.form {
  margin: 20px 0;
}

.input,
.button {
  margin: 5px;
  padding: 10px;
}

.food-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

/* Button styles */
.add-item-btn,
.add-new-item-btn,
.go-back-btn {
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4caf50; /* Green */
}

.add-item-btn:hover,
.add-new-item-btn:hover {
  background-color: #45a049; /* Darker green */
}

.go-back-btn {
  background-color: #007bff; /* Blue */
  margin-top: 20px;
}

.go-back-btn:hover {
  background-color: #0056b3; /* Darker blue */
}
